<div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about me</h4>
  <p>I'm a Senior Software Developer and Team Lead based in the Pacific Northwest. I mentor and teach as an instructor at Ada Developers Academy. Having an insatiable curiosity, I have worked as a lighting designer, marionette puppeteer, sous chef, and professional poker player, and enjoy hiking, collecting Vespas, and working with glass.</p>
  <div class="social-icon-list">
    <a title="Twitter" href="https://twitter.com/kerrizor"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    <a title="GitHub" href="https://github.com/kerrizor"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="E-Mail" href="mailto:kerrizor@kerrizor.com"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  </div>
</div>
